body{
    background: rgb(27, 0, 25);
    background-image: url("../images/Kings-cross-roof-and-departure-boards-1035x543.jpg");
    background-size: cover;
}
.jumbotron{
    background:cornflowerblue;
    color:silver;
}
table{
    background:cornflowerblue;
    color:crimson;
}